.categories {
  min-width: 200px;
  height: 400px;
  display: inline-flex;
  flex-direction: column;
  font-size: 14px;
  gap: 20px;
  padding-top: 20px;
  background: #ffffff;
  border-radius: 5px;
  a {
    padding-left: 20px;
  }

  .active {
    font-weight: 600;
  }
}
